<head lang="en">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="css/angular-toggle-switch.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <meta charset="UTF-8">
</head>
<body width="1280" height="800">
<img class="banner" src="img/bluecollar.jpg" alt="background" width="100%" height="255"/>
<div class="middle-box">
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="panel panel-default site-panel-box">
            <div class="panel-heading" >
                    <div class="row display-tr" >
                        <h3 class="panel-title" >Blue Collar Registration</h3>
                    </div>                    
            </div>
            <div class="panel-body" style="padding:10px;">
            <div class="form-group">
				<input type="text" ng-model="emp.uid" class="form-control" placeholder="Employer User ID">
			</div>
			<div class="form-group">
                <input type="text" ng-model="emp.name" class="form-control" placeholder="Employer Name">
            </div>
            <div class="form-group">
				<input type="text" ng-model="emp.email" class="form-control" placeholder="Email Address" ng-change="">
			</div>
            <div class="form-group">
                <input type="text" id="phone" ng-model="emp.contactNum" class="form-control" placeholder="Contact Number" ng-blur="formatContactNum(emp)">
            </div>
            <div class="form-group">
                <input type="text" ng-model="emp.address1" class="form-control" placeholder="Address1">
            </div>
            <div class="form-group">
                <input type="text" ng-model="emp.address2" class="form-control" placeholder="Address2">
            </div>
            <div class="form-group">
                <input type="text" id="zip" ng-model="emp.zipcode" class="form-control" placeholder="Zip Code" ng-change="testZipCode()" data-toggle="tooltip2" data-placement="top" data-original-title="Please use only numbers">
            </div>
            <div class="form-group">
                <span class="{{myClass}}"><input type="password" ng-model="emp.passwd1" class="form-control" placeholder="New Password" ng-change="testPassword()"></span>
            </div>
            <div class="form-group">
                <span class="{{myClass}}"><input type="password" ng-model="emp.passwd2" ng-change="testPassword2()" class="form-control" placeholder="Confirm Password"></span>
            </div>
            <div class="form-group">
                <input type="Radio" ng-model="emp.amount"  ng-value="0" style="align:left" ng-click="disableCardInfo(emp)"><b>&nbsp;Free Trial</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="Radio" ng-model="emp.amount"  ng-value="1999" ng-click="disableCardInfo(emp)"><b>&nbsp;$19.99/mo</b>
            </div>
            </div>
            </div>
            </div>
            </div>
            <!-- Payment Info -->
            <div id="cardInfo" class="container" style="padding-left:0px;">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default site-panel-box">
                <div class="panel-heading display-table" >
                    <div class="row display-tr" >
                        <h3 class="panel-title display-td" >Payment Details</h3>
                        <div class="display-td" >                            
                            <img class="img-responsive pull-right" src="img/credit_cards.png">
                        </div>
                    </div>                    
                </div>
                <div class="panel-body" style="padding:10px;">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    
                                    <div class="input-group">
                                        <input 
                                            type="tel"
                                            id="cardNum"
                                            class="form-control"
                                            ng-model="emp.cardNumber"
                                            ng-change="formatCC()"
                                            placeholder="Valid Card Number"
                                            autocomplete="cc-number"
                                            required autofocus 
                                        />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    
                                    <input 
                                        type="tel" 
                                        class="form-control" 
                                        id="expiry"
                                        ng-model="emp.cardExpiry"
                                        ng-change="formatExpiry()"
                                        placeholder="MM / YYYY"
                                        autocomplete="cc-exp"
                                        required 
                                    />
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    
                                    <input 
                                        type="tel" 
                                        class="form-control"
                                        id="cvc"
                                        ng-model="emp.cvc"
                                        ng-change="formatCVC()"
                                        placeholder="CVC"
                                        autocomplete="cc-csc"
                                        required
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="emp.cardName" placeholder="Name on the card"/>
                                </div>
                            </div>                        
                        </div>
                        <div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<input type="checkbox" ng-checked=true
									ng-model="emp.saveCC" ng-value=true> <font color="blue"><b>Save card details for future payments.</b></font>
							</div>
						</div>
					</div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                </div>
            </div>            
            <!-- CREDIT CARD FORM ENDS HERE -->
        </div>
    </div>
</div>
            <!-- Payment Info -->
            <br>
            <div class="container" style="padding-left:0px;">
            <div class="row">
			<div class="col-xs-12 col-md-4">
            <button ng-click="empRegister(emp)" ng-disabled="error" class="btn btn-info block full-width m-b">Register</button>
            <!-- Added by Srinivas Thungathurti for ASQ Upgrade2.0.Added Clear form button to clear the registration form details. -->
            <button ng-click="empClear(emp)" ng-disabled="error" class="btn btn-info block full-width m-b">Clear</button>
            </div>
            </div></div>
        </div>
        <br/><br/>
        <hr/>
        <div class="copyright">
            <p>&copy; 2016 Blue Collar Hunt. All rights reserved.</p>
        </div>
        </div>
</body>