<body width="1280" height="800">
<img class="banner" src="img/bluecollar.jpg" alt="background" width="1265" height="255"/>
<ng-form name="loginForm">
<div class="middle-box">
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="panel panel-default site-panel-box">
    <div>
        <div class="panel-body" style="padding:10px;">
            <div class="form-group">
                <input type="text" ng-model="user.email" class="form-control" style="display:inline-block;" placeholder="Emp Userid" ng-change="testLoginName()" ng-required="true">
                <span ng-show="loginEmailErr && user.email != undefined" style="color:red;display:inline-block;">invalid email address</span>
            </div>
            <div class="form-group">
                <input type="password" ng-model="user.password" ng-keydown="pressEnter($event,user)" class="form-control" placeholder="Password" ng-change="testPassword()" ng-required="true">
                <span ng-show="passwordShort && user.password != undefined" style="color:red">&nbsp;&nbsp;Password must be at least 6 characters</span>
            </div>
            <div class="form-group">
                <input type="text" ng-model="user.empID" class="form-control" style="display:inline-block;" placeholder="Emp Unique ID" ng-required="true">
                <span ng-show="loginEmailErr && user.email != undefined" style="color:red;display:inline-block;">invalid Employee Unique ID</span>
            </div>
            <br>
            <button ng-click="login(user)" class="btn btn-info block full-width m-b" ng-disabled="loginForm.$invalid">Jump In</button>
            <br/><br/>
            <a class="btn btn-info btn-block" href="/empRegister">Register</a>
			<!-- <a href="/forgotPassWd"><small>Forgot password?</small></a><br/><br/>  -->
        </div>
    </div>
</div></div></div></div></div>
<div class="middle-box" style="margin-left:460px;">
<div class="copyright">
            <p>&copy; 2016 BlueCollar Hunt. All rights reserved.</p>
        </div>
</div>
</ng-form>
</body>