<head>
        <title>Resume Upload</title>
        <style>
            .my-drop-zone { border: dotted 3px lightgray; }
            .nv-file-over { border: dotted 3px red; } 
            .another-file-over-class { border: dotted 3px green; }
            html, body { height: 100%; }
        </style>

</head>
<div class="animated fadeInUp">
	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="logo">
						<h1><a href="#">Blue Collar Jobs</a></h1>
						<div class="hmeta">Perfect Portal to get Blue Collar Jobs</div>
					</div>
				</div>
				<div style="text-align: right" class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-2">

					<br>
					<h4>Welcome, {{currentUser.firstName}},{{currentUser.lastName}}</h4>
					<!-- Updated by Srinivas Thungathurti for ASQ Upgrade 2.0. Added Admin link on Home screen. -->
					<span class="color customLink" ng-if="currentUser.role=='admin'"><a href="/admin">Admin</a> |</span>
					<!-- End changes for ASQ Upgrade 2.0. -->
					<span class="color customLink"><a href="/profile">Profile</a></span> |
					<span class="color customLink"><a href="/upload">Upload Resume</a></span> |
					<!-- Added by Srinivas Thungathurti for ASQ Upgrade 2.0.New screen Change Password added. -->
					<span class="color customLink"><a href="/changePassword">Change Password</a></span> |
					<span class="color customLink"><a href="" ng-click="logout()">Logout</a></span>

				</div>
			</div>
		</div>
	</header>
	
	<div class="content">
		<div class="container">
			<!-- Content -->
			<hr>
			
			<hr>
		</div>
	</div>



	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="text-align: center" class="copy">
						<h5>BlueCollarHunt Inc </h5>
						<p>&copy; <a href="/about">2016 Blue Collar Hunt</a></p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>
</div>