<body width="1280" height="800">
<img class="banner" src="img/bluecollar.jpg" alt="background" width="100%" height="255"/>
<ng-form name="loginForm">
<div class="middle-box">
<br/>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-12 col-md-4">
<div class="panel panel-default site-panel-box">
	<div class="panel-body" style="padding:10px;">
            <div class="form-group">
                <input type="text" ng-model="user.email" class="form-control" style="display:inline-block;" placeholder="User ID" ng-change="testLoginName()" ng-required="true">
                <span ng-show="loginEmailErr && user.email != undefined" style="color:red;display:inline-block;">invalid email address</span>
            </div>
            <div class="form-group">
                <input type="password" ng-model="user.password" ng-keydown="pressEnter($event,user)" class="form-control" placeholder="Password" ng-change="testPassword()" ng-required="true">
                <span ng-show="passwordShort && user.password != undefined" style="color:red">&nbsp;&nbsp;Password must be at least 6 characters</span>
            </div>
            <br>
            <button ng-click="login(user)" class="btn btn-info block full-width m-b" ng-disabled="loginForm.$invalid">Login</button>
            <br/><br/>
            <a class="btn btn-info btn-block" href="/register">Register</a>
      </div>
</div>
</div>
</div></div></div>
<!-- For Social Login -->
<br/><br/><br/><br/>
<div id="social" class="right-box text-center sociallogin  animated fadeInDown" style="border-style:double;border-width:2px;border-color:#5BC0DE;">
        <br/><br/>
    	<p>
	    	<img src="img/social.png" usemap = #social border=0>
			<map name=social>
			<area shape="poly" Coords="6,4,197,5,197,34,7,35,2,19" href="/auth/google">
			<area shape="poly" Coords="4,44,196,43,196,73,5,73" href="/auth/facebook">
			<area shape="poly" Coords="4,80,196,82,197,112,5,111" href="/auth/linkedin">
			</map>
			<p><small><b style="color:blue">By signing up, I agree to Blue Collar Jobs <br/>Portal Terms of Service,Privacy Policy<br/> and other Terms.</b></small></p> 
		</p>
</div>
<!-- End for Social Login -->
</ng-form>
</body>