<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Blue Collar Hunt User Profile Page</title>
  </head>
<body>
<div class="container" style="padding-left:0px;">
<div class="row">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">
		    <div style="text-align:center">
			<h2 style="color:#5BC0DE">My Profile</h2>
</div></div></div></div></div>

<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:550px;">
<div class="panel-body" style="padding:10px;">
<img class="banner" src="img/Bluecollar_Profile.png" alt="background" width="100%" height="530px"/>
</div></div></div></div></div>
<footer>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
<div class="middle-box" style="margin-left:400px;">
<div class="copyright">
            <p>&copy; 2016 BlueCollar Hunt. All rights reserved.</p>
        </div>
</div>
</div></div></div></div></div>
</footer>
</body>
</html>