<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Blue Collar Hunt Landing Page</title>
  </head>
<body>
<div class="container" style="padding-left:0px;">
<div class="row">
<br/>
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:60px;height:175px;">

 </div>
</div></div></div></div></div>

<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:550px;">
<div class="panel-body" style="padding:40px;">
<div style="text-align:center">
			<div class="form-group">
					<label for="pw2" class="col-sm-2 control-label" style="font-size: 16px">* New Password:</label>
					<div class="form-group col-sm-10">
						<input id="pw2" class="form-control" style="width: 200px; display:inline-block; height: 27px" type="password" ng-model="user.password1" placeholder="New Password" ng-required="true" ng-blur="testPasswordLen()">
						<span ng-show="passwordShort" style="color:red">&nbsp;&nbsp;Password must be at least 6 characters</span>
					</div>
				</div>
				<br><br>
				<div class="form-group">
					<label for="pw2" class="col-sm-2 control-label" style="font-size: 16px">* Repeat New &nbsp;&nbsp;Password:</label>
					<div class="form-group col-sm-10">
						<input id="pw2" class="form-control" style="width: 200px; display:inline-block; height: 27px" type="password" ng-model="user.password2" placeholder="Repeat Password" ng-required="true" ng-blur="testPassword()">
						<span ng-show="passwordErr && user.password2 != undefined" style="color:red;display:inline-block;">&nbsp;&nbsp;Password doesn't match!</span>
					</div>
				</div>
			

			<button style="margin: 35px 20px 60px 0px; width: 95px; height: 40px; font-size: 16px" class="btn btn-primary" ng-disabled="resetPasswd.$invalid" ng-click="pwReset(user)">
				<span class="glyphicon glyphicon-ok-sign"></span>  Save
			</button>
			<a href="/home"><button style="margin: 35px 25px 60px 0px; width: 95px; height: 40px; font-size: 16px" class="btn btn-warning">
				<span class="glyphicon glyphicon-remove-sign"></span>  Cancel
			</button></a>
</div>
</div></div></div></div></div>
<footer>
<div class="container" style="padding-left:0px;">
<div class="row">
<div class="col-xs-50 col-md-40">
<div class="panel panel-default site-panel-box" style="height:175px;">
<div class="panel-body" style="padding:55px;">
</div></div></div></div></div>
<div class="copyright">
            <p>&copy; 2016 Blue Collar Hunt Inc. All rights reserved.</p>
</div>
</footer>
</body>
</html>
<!-- 
<div class="content">
		<div class="container">
			<hr>
			<div>
				<p style="font-size: 22px; font-weight: bold">Forget Password:</p>
				<font style="color:red;"><b>* indicates Mandatory Fields.</b></font>
				<br/>
				<br/>
				<div class="form-group">
					<label for="pw2" class="col-sm-2 control-label" style="font-size: 16px">* Registered Email :</label>
					<div class="form-group col-sm-10">
						<input id="userId" class="form-control" style="width: 255px; display:inline-block; height: 27px" type="text" ng-model="email" placeholder="Enter Email" ng-change="testEmail()">
						<span ng-show="emailErr && email != undefined" style="color:red;display:inline-block;">&nbsp;&nbsp;Enter Valid Email Format.</span>
					</div>
				</div>
			<button style="margin: 35px 20px 30px 120px; width: 165px; height: 40px; font-size: 16px" class="btn btn-primary" ng-disabled="disable" ng-click="forgot(email)">
				<span class="glyphicon glyphicon-ok-sign"></span>  Reset Password
			</button>
			<a href="/home"><button style="margin: 35px 25px 30px 0px; width: 95px; height: 40px; font-size: 16px" class="btn btn-warning">
				<span class="glyphicon glyphicon-remove-sign"></span>  Cancel
			</button></a>
			</div>
		</div>
	</div>

	<footer>
	    <br/><br/><br/><br/><br/><br/>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="text-align: center" class="copy">
						<h5>ASQ CSQE Virtual Exam & Practice</h5>
						<p>&copy; <a href="/about">2015 Big Bang ASQ Exam</a></p>
						<p>Questions Provided by <a href="http://www.qualitycouncil.com/CSQE.html" target="_blank">Quality Council of Indiana</a> and by <a href="http://www.westfallteam.com/quiz_listing" target="_blank">Linda Westfall</a></p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>
</div>
-->
<!-- 
<div class="animated fadeInDown">
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="logo">
						<h1><a href="#">Big Bang <span class="color">ASQ</span></a></h1>
						<div class="hmeta">Perfect CSQE Virtual Exam & Practice Website</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
<ng-form name="resetPasswd">
<div class="content">
		<div class="container">
			<hr>
			<div>
				<p style="font-size: 22px; font-weight: bold">Reset Password:</p>
				<font style="color:red;"><b>* indicates Mandatory Fields.</b></font>
				<br/>
				<br/>
				<div class="form-group">
					<label for="pw2" class="col-sm-2 control-label" style="font-size: 16px">* New Password:</label>
					<div class="form-group col-sm-10">
						<input id="pw2" class="form-control" style="width: 200px; display:inline-block; height: 27px" type="password" ng-model="user.password1" placeholder="New Password" ng-required="true" ng-blur="testPasswordLen()">
						<span ng-show="passwordShort" style="color:red">&nbsp;&nbsp;Password must be at least 6 characters</span>
					</div>
				</div>
				<br><br>
				<div class="form-group">
					<label for="pw2" class="col-sm-2 control-label" style="font-size: 16px">* Repeat New &nbsp;&nbsp;Password:</label>
					<div class="form-group col-sm-10">
						<input id="pw2" class="form-control" style="width: 200px; display:inline-block; height: 27px" type="password" ng-model="user.password2" placeholder="Repeat Password" ng-required="true" ng-blur="testPassword()">
						<span ng-show="passwordErr && user.password2 != undefined" style="color:red;display:inline-block;">&nbsp;&nbsp;Password doesn't match!</span>
					</div>
				</div>
			

			<button style="margin: 35px 20px 60px 0px; width: 95px; height: 40px; font-size: 16px" class="btn btn-primary" ng-disabled="resetPasswd.$invalid" ng-click="pwReset(user)">
				<span class="glyphicon glyphicon-ok-sign"></span>  Save
			</button>
			<a href="/home"><button style="margin: 35px 25px 60px 0px; width: 95px; height: 40px; font-size: 16px" class="btn btn-warning">
				<span class="glyphicon glyphicon-remove-sign"></span>  Cancel
			</button></a>
			</div>
			<hr>
		</div>
	</div>
	</ng-form>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="text-align: center" class="copy">
						<h5>ASQ CSQE Virtual Exam & Practice</h5>
						<p>&copy; <a href="/about">2015 Big Bang ASQ Exam</a></p>
						<p>Questions Provided by <a href="http://www.qualitycouncil.com/CSQE.html" target="_blank">Quality Council of Indiana</a> and by <a href="http://www.westfallteam.com/quiz_listing" target="_blank">Linda Westfall</a></p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>
</div>
 -->